  <div id="background">
           
            <header class="cf">
                <div class="wrapper_wide">
                      <a id="logo" href="index.html">Edu Wall</a>
                <nav>
                    <ul>
                        <li><a href="podcast.html">Pregledaj</a></li>
                        <li><a href="sign-in.html">Otvori Nalog</a></li>
                        <li><a href="sign-up.html">Kreiraj Podkast</a></li>
                    </ul>
                </nav>
              </div><!--END .wrapper_wide -->
               
            </header>
            <div class="wrapper_skinny">
                 <h1>Discover your favorite <br>
                 podcast, or create your own.</h1>
                <a href="sign-up.html" class="button button_highlight">Napravi Podkast</a>
                <a href="#podcast.html" class="button button_white">Pregledaj</a>
            </div><!--END .wrapper_skinny --> 
    </div><!--END id="background" -->